.CampusMap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.LocationContactPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
}

.CampusMapImg {
  width: 500px;
  border-radius: 10px;
  margin: 20px;
}

.FloorMapImg {
  width: 600px;
  border-radius: 10px;
  margin: 20px;
}

.FloorMap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
}
