.linksContainer {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.linksContaineColumn {
  display: flex;
  justify-content: space-between;
}

.SMLinks {
  width: 14vw;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 1vw;
  font-weight: bolder;

  padding: 20px;
  margin: 5px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.551);
  border-radius: 10px;
  font-size: 20px;
}

/* .MajorLinks {
  width: 10vw;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 1vw;

  padding: 20px;
  margin: 10px;
  background-color: teal;
  border-radius: 20px;
}

.OtherLinks {
  width: 13vw;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 1vw;

  padding: 20px;
  margin: 10px;
  background-color: teal;
  border-radius: 20px;
} */
