.StudentCouncilPart {
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 50px;
  margin-bottom: 100px;
  /* background-color: burlywood; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.StudentCouncilTitle {
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
}

.EventTable {
  border-style: solid;
  border-radius: 10px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.StudentCouncilSemester {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.StudentCouncilSemesterName {
  font-size: 17px;
  font-weight: 600;
  margin: 20px;
}

.EventTableContainer {
  /* background-color: aqua; */
  display: flex;
}

.EventImg {
  width: 280px;
  border-radius: 10px;
}

.EventName {
  font-size: 17px;
  font-weight: 600;
}

.EventDate {
  font-size: 15px;
  margin: 10px;
}

.EventDetail {
  font-size: 12px;
  margin: 10px;
}

.EventRepresentation {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
